<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Customers</title>
</head>

<body>


<p><b>Customers:</b></p>
<div th:each="customer : ${customers}">
    <a th:href="@{/customers/{id}(id=${customer.getId()})}"
       th:text="${customer.getName() + ', ' + customer.getDriverLicenseNumber()}"></a>
</div>

<br/>
<hr/>

<a href="/motorent/customers/create">Create new customer</a>

<br>
<hr>
<p><a href="/motorent/customers/">Customers</a></p>
<p><a href="/motorent/moto/">Motocycles</a></p>


</body>
</html>