<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Customer</title>
</head>

<body>

<p><b>Customer data:</b></p>
<p th:text="'Name: ' + ${customer.getName()}"></p>
<p th:text="'Age: ' + ${customer.getAge()}" th:if="${customer.getAge() != NULL}">VALUE</p>
<p th:text="'Drive experience: ' + ${customer.getDriveExperience()}" th:if="${customer.getDriveExperience() != NULL}">VALUE</p>
<p th:text="'Driver license number: ' + ${customer.getDriverLicenseNumber()}">VALUE</p>
<p th:text="'Email: ' + ${customer.getEmail()}" th:if="${customer.getEmail() != NULL}">VALUE</p>
<p th:text="'Phone number: ' + ${customer.getPhoneNumber()}">VALUE</p>

<!--<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>-->

<!--<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">-->
<!--    <input type="submit" value="Delete"/>-->
<!--</form>-->

</body>
</html>